# Gradle
.gradle/
**/build/

# Android
.externalNativeBuild/
.cxx/

# Local configuration
local.properties

# IDE
.idea/
*.iml

# OS
.DS_Store

# Temporary AAPT tests
.aapt-test/

# APK outputs
*.apk

# Android signing keys
keystore/
*.jks
*.keystore
